@use 'sass:color';

:root {
  --base-font-family: 'Jersey 25', sans-serif;
  --color-primary: #53cae4;
  --color-primary-light: #{color.adjust(#53cae4, $lightness: 20%)};
  --color-primary-dark: #{color.adjust(#53cae4, $lightness: -20%)};
  --color-secondary: #f4714d;
  --color-secondary-light: #{color.adjust(#f4714d, $lightness: 20%)};
  --color-secondary-dark: #{color.adjust(#f4714d, $lightness: -20%)};
  --color-light: #fff;
  --color-light-light: #{color.adjust(#fff, $lightness: 20%)};
  --color-light-dark: #{color.adjust(#fff, $lightness: -20%)};
  --color-green: #2f7a35;
  --color-gold: #d4b572;
  --color-gold-light: #{color.adjust(#d4b572, $lightness: 20%)};
  --color-gold-dark: #{color.adjust(#d4b572, $lightness: -20%)};
  --color-midnight: #1b1b1b;
  --color-brown: #8b5a2b;
  --color-brown-light: #{color.adjust(#8b5a2b, $lightness: 20%)};
  --color-brown-dark: #{color.adjust(#8b5a2b, $lightness: -20%)};
  --color-red: #be1e2d;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Jersey 25', sans-serif;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.color-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 100%;
}
